

form{
    background-color: aqua;
    border: 3px solid blue;
    display: inline-block;



}
.mainForm{
    position: relative;
    left: 500px;
}
label{
    display: inline-block;
    width: 200px;
    color: rgb(51, 8, 92);
    font-size: 1.5rem;
    
    
}
form div{
    
    margin: 5px;
    height: 50px;
}
h1{
    position: relative;
    left: 600px;
    color: blueviolet;
    background-color: yellow;
    display: inline-block;
    border:4px groove black;
    border-radius: 20px;
    font-size: 2rem;

}
